.banner {
  background-size: cover;
  background-position: center;
  height: 70vh;

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 60px;
    padding-top: 16px;
    color: white;
  }
}
